.container {
    max-width: 700px; /* Maximum width for larger screens */
    width: 95vw;       /* Full width with slight side margins */
    padding: 40px;
    margin: 20px auto; /* Center the container */
    background-color: rgba(255, 255, 255, 0.169); /* Slightly transparent white */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow */
    border: 1px solid rgba(200, 200, 200, 0.79); /* Light border */
    backdrop-filter: blur(2px); /* Slight blur effect */
    box-sizing: border-box;
}


.heading {
    font-size: 2.5rem;
    color: #111111;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.inputGroup {
    align-self: stretch;
    margin-bottom: 15px;
    flex: 1;

}

label {
    font-size: 1.2rem;
    color: #000000;
}
input::placeholder {
    color: #0c0c0c; /* Change to your preferred color */
    opacity: 0.8; /* Adjust opacity if needed */
}

input, select {
    background-color: rgba(219, 214, 214, 0.861);  
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #cccccc00;
    border-radius: 4px;
}

.authButton {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.authButton:hover {
    background-color: #0056b3;
}

.authLink {
    display: block;
    margin-top: 15px;
    text-align: center;
}

.authLink a {
    color: #007BFF;
    text-decoration: none;
}

.authLink a:hover {
    text-decoration: underline;
}
